<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="la-themes" name="author">
    <link href="../assets/images/logo/favicon.png" rel="icon" type="image/x-icon">
    <link href="../assets/images/logo/favicon.png" rel="shortcut icon" type="image/x-icon">
    <title>Manage Candidates | PSITS Voting System</title>

    <!-- Animation css -->
    <link href="../assets/vendor/animation/animate.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">

    <!--flag Icon css-->
    <link href="../assets/vendor/flag-icons-master/flag-icon.css" rel="stylesheet" type="text/css">

    <!-- tabler icons-->
    <link href="../assets/vendor/tabler-icons/tabler-icons.css" rel="stylesheet" type="text/css">

    <!-- apexcharts css-->
    <link href="../assets/vendor/apexcharts/apexcharts.css" rel="stylesheet" type="text/css">

    <!-- glight css -->
    <link href="../assets/vendor/glightbox/glightbox.min.css" rel="stylesheet">

    <!-- Bootstrap css-->
    <link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- simplebar css-->
    <link href="../assets/vendor/simplebar/simplebar.css" rel="stylesheet" type="text/css">

    <!-- slick css -->
    <link href="../assets/vendor/slick/slick.css" rel="stylesheet">
    <link href="../assets/vendor/slick/slick-theme.css" rel="stylesheet">

    <!-- Data Table css-->
    <link href="../assets/vendor/datatable/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/datatable/datatable2/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

    <!-- App css-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- Responsive css-->
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="app-wrapper">
        <div class="loader-wrapper">
            <div class="loader_24"></div>
        </div>
    
        <!-- Menu Navigation starts -->
        <nav>
            <div class="app-logo">
                <a class="logo d-inline-block" href="index.html">
                    <img alt="#" src="../assets/images/logo/1.png">
                </a>
    
                <span class="bg-light-primary toggle-semi-nav d-flex-center">
                    <i class="ti ti-chevron-right"></i>
                </span>
    
                <div class="d-flex align-items-center nav-profile p-3">
                    <span class="h-45 w-45 d-flex-center b-r-10 position-relative bg-danger m-auto">
                        <img alt="avatar" class="img-fluid b-r-10" src="../assets/images/avatar/woman.jpg">
                        <span class="position-absolute top-0 end-0 p-1 bg-success border border-light rounded-circle"></span>
                    </span>
                    <div class="flex-grow-1 ps-2">
                        <h6 class="text-primary mb-0"> psits@admin.com</h6>
                        <p class="text-muted f-s-12 mb-0">SBO Admin</p>
                    </div>
    
    
                    <div class="dropdown profile-menu-dropdown">
                        <a aria-expanded="false" data-bs-auto-close="true" data-bs-placement="top" data-bs-toggle="dropdown"
                           role="button">
                            <i class="ti ti-settings fs-5"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="f-w-500" href="./profile.html" target="_blank">
                                    <i class="ph-duotone  ph-user-circle pe-1 f-s-20"></i> Profile Details
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a class="f-w-500" href="./setting.html" target="_blank">
                                    <i class="ph-duotone  ph-gear pe-1 f-s-20"></i> Settings
                                </a>
                            </li>
        
    
                            <li class="app-divider-v dotted py-1"></li>
    
                            <li class="dropdown-item">
                                <a class="mb-0 text-danger" href="./sign_in.html" target="_blank">
                                    <i class="ph-duotone  ph-sign-out pe-1 f-s-20"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
            <div class="app-nav" id="app-simple-bar">
                <ul class="main-nav p-0 mt-2">
                    <li class="menu-title"><span>Dashboard</span></li>
                    <li class="no-sub">
                        <a aria-expanded="false" href="./index.html">
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#home"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="menu-title"><span>Manage Candidates</span></li>
                    <li class="no-sub">
                        <a aria-expanded="false" href="./party_list.html">
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#document-text"></use>
                            </svg>
                            Candidates
                        </a>
                    </li>
                    <li class="no-sub">
                        <a aria-expanded="false" href="#advance-ui">
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#document"></use>
                            </svg>
                            Party List
                        </a>
                    </li>
                    <li class="menu-title"><span>Manage Votes</span></li>
                    <li class="no-sub">
                        <a aria-expanded="false" href="./cast_vote.html">
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#briefcase"></use>
                            </svg>
                            Cast Vote
                        </a>
                    </li>
                    <li class="no-sub">
                        <a aria-expanded="false" href="#advance-ui">
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#briefcase-advance"></use>
                            </svg>
                            Vote Result
                        </a>
                    </li>
    
                    <li class="menu-title"><span>Records </span></li>
                    <li class="no-sub">
                        <a>
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#newspaper"></use>
                            </svg>
                            Users
                        </a>
                    </li>
    
                    <li class="menu-title"><span>Settings </span></li>
                    <li class="no-sub">
                        <a>
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#table"></use>
                            </svg>
                            Account
                        </a>       
                    </li>
                    <li class="no-sub">
                        <a>
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#stack"></use>
                            </svg>
                            Positions
                        </a>
                    </li>
                    <li class="no-sub">
                        <a>
                            <svg stroke="currentColor" stroke-width="1.5">
                                <use xlink:href="../assets/svg/_sprite.svg#rectangle"></use>
                            </svg>
                            Setup Polling
                        </a>
                    </li>
    
    
     
    
    
                </ul>
            </div>
    
            <div class="menu-navs">
                <span class="menu-previous"><i class="ti ti-chevron-left"></i></span>
                <span class="menu-next"><i class="ti ti-chevron-right"></i></span>
            </div>
    
        </nav>
        <!-- Menu Navigation ends -->
    
        <div class="app-content">
            <div class="">
    
                <!-- Header Section starts -->
                <header class="header-main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-8 col-sm-6 d-flex align-items-center header-left p-0">
                               <span class="header-toggle ">
                                 <i class="ph ph-squares-four"></i>
                               </span>
    
        
                            </div>
    
                            <div class="col-4 col-sm-6 d-flex align-items-center justify-content-end header-right p-0">
    
                                <ul class="d-flex align-items-center">
    
        
                                    <li class="header-dark">
                                        <div class="sun-logo head-icon bg-light-dark rounded-circle f-s-22 p-2">
                                            <i class="ph ph-moon-stars"></i>
                                        </div>
                                        <div class="moon-logo head-icon bg-light-dark rounded-circle f-s-22 p-2">
                                            <i class="ph ph-sun-dim"></i>
                                        </div>
                                    </li>
    
                                    <li class="header-notification">
                                        <a aria-controls="notificationcanvasRight"
                                           class="d-block head-icon position-relative bg-light-dark rounded-circle f-s-22 p-2"
                                           data-bs-target="#notificationcanvasRight"
                                           data-bs-toggle="offcanvas"
                                           href="#"
                                           role="button">
                                            <i class="ph ph-bell"></i>
                                            <span
                                                    class="position-absolute translate-middle p-1 bg-primary border border-light rounded-circle animate__animated animate__fadeIn animate__infinite animate__slower"></span>
                                        </a>
                                        <div aria-labelledby="notificationcanvasRightLabel"
                                             class="offcanvas offcanvas-end header-notification-canvas"
                                             id="notificationcanvasRight" tabindex="-1">
                                            <div class="offcanvas-header">
                                                <h5 class="offcanvas-title" id="notificationcanvasRightLabel">
                                                    Notification</h5>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                                        type="button"></button>
                                            </div>
                                            <div class="offcanvas-body app-scroll p-0">
                                                <div class="head-container">
                                                    <div class="notification-message head-box">
    
                                                        <div class="message-content-box flex-grow-1 pe-2">
    
                                                            <a class="f-s-15 text-dark mb-0"
                                                               href="./read_email.html"><span
                                                                    class="f-w-500 text-dark">Gene Hart</span> wants to
                                                                edit <span
                                                                        class="f-w-500 text-dark">Report.doc</span></a>
                                                            <div>
                                                                <a class="d-inline-block f-w-500 text-success me-1"
                                                                   href="#">Approve</a>
                                                                <a class="d-inline-block f-w-500 text-danger"
                                                                   href="#">Deny</a>
                                                            </div>
                                                        </div>
                                                        <div class="text-end">
                                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                                            <div>
                                                                <span class="badge text-light-primary"> sep 23 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-message head-box">
    
                                                        <div class="message-content-box flex-grow-1 pe-2">
                                                            <a class="f-s-15 text-dark mb-0" href="./read_email.html">Hey
                                                                <span
                                                                        class="f-w-500 text-dark">Emery McKenzie</span>,
                                                                get ready: Your order from <span
                                                                        class="f-w-500 text-dark">@Shopper.com</span></a>
                                                        </div>
                                                        <div class="text-end">
                                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                                            <div>
                                                                <span class="badge text-light-primary"> sep 23 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-message head-box">
                                                        <div class="message-content-box flex-grow-1 pe-2">
                                                            <a class="f-s-15 text-dark mb-0"
                                                               href="./read_email.html"><span
                                                                    class="f-w-500 text-dark">Simon Young</span> shared
                                                                a file called <span
                                                                        class="f-w-500 text-dark">Dropdown.pdf</span></a>
                                                        </div>
                                                        <div class="text-end">
                                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                                            <div>
                                                                <span class="badge text-light-primary"> 30 min</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-message head-box">
                                                        <div class="message-content-box flex-grow-1 pe-2">
                                                            <a class="f-s-15 text-dark mb-0"
                                                               href="./read_email.html"><span
                                                                    class="f-w-500 text-dark">Becky G. Hayes</span> has
                                                                added a comment to <span
                                                                        class="f-w-500 text-dark">Final_Report.pdf</span></a>
                                                        </div>
                                                        <div class="text-end">
                                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                                            <div>
                                                                <span class="badge text-light-primary"> 45 min</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-message head-box">
                                                        <div class="message-content-box  flex-grow-1 pe-2">
                                                            <a class="f-s-15 text-dark mb-0 "
                                                               href="./read_email.html"><span
                                                                    class="f-w-600 text-dark">@Romaine</span>
                                                                invited you to a meeting
                                                            </a>
                                                            <div>
                                                                <a class="d-inline-block f-w-500 text-success me-1"
                                                                   href="#">Join</a>
                                                                <a class="d-inline-block f-w-500 text-danger" href="#">Decline</a>
                                                            </div>
    
                                                        </div>
                                                        <div class="text-end">
                                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                                            <div>
                                                                <span class="badge text-light-primary"> 1 hour ago </span>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="hidden-massage py-4 px-3">
                                                           <div>
                                                            <i class="ph-duotone  ph-bell-ringing f-s-50 text-primary"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0">Notification Not Found</h6>
                                                            <p class="text-dark">When you have any notifications added
                                                                here,will
                                                                appear here.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Header Section ends -->
    
                <!-- Body main section starts -->
                <main>  
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <div class="card create-ticket-card">
                                <div class="card-body">
                                    <div class="col-xl-12">
                                        <div class="row align-items-center">
                                            <div class="col-sm-7 col-12">
                                                <div class="ticket-create">
                                                    <h5 class=" mb-2 ">The Manage Candidates Component</h5>
                                                    <p class="mb-5 mt-3 text-secondary">By creating each party list names, allowing
                                                        to add individual candidates along with their campaign picture.
                                                    </p>
                                                    <button class="btn btn-primary"  type="button">Add Party List
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-12">
                                                <img alt="" class="img-fluid w-300 d-block m-auto" src="../assets/images/icons/ticket.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>

                        <!-- Projects Table start -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body ps-0 pe-0">
                                    <div class="table-responsive app-scroll app-datatable-default project-table">
                                        <table class="display table-bottom-border app-data-table table-box-hover"
                                               id="projectTable">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label class="check-box">
                                                        <input id="select-all" type="checkbox">
                                                        <span class="checkmark outline-secondary ms-2"></span>
                                                    </label>
                                                </th>
                                                <th>Name</th>
                                                <th>Leader</th>
                                                <th>Status</th>
                                                <th>Client</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class="check-box">
                                                        <input type="checkbox">
                                                        <span class="checkmark outline-secondary ms-2"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-left align-items-center">
                                                        <div class="h-30 w-30 d-flex-center b-r-50 overflow-hidden me-2">
                                                            <img alt="" class="img-fluid"
                                                                 src="../assets/images/icons/language/logo4.png">
                                                        </div>
                                                        <div>
                                                            <h6 class="f-s-15 mb-0">React</h6>
                                                            <p class="text-secondary f-s-13 mb-0">23 Jun 2024</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-dark f-w-500">Keith</td>
                                                <td>
                                                    <span class="badge bg-primary">New</span>
                                                </td>
                                                <td>James</td>
                                                <td class="text-success f-w-500">Dec 07, 2024</td>
                                                <td class="text-danger f-w-500">Dec 26, 2024</td>
                                                <td>
                                                    <button class="btn btn-danger icon-btn b-r-4 delete-btn"
                                                            type="button">
                                                        <i class="ti ti-trash"></i>
                                                    </button>
                                                    <button class="btn btn-success icon-btn b-r-4"
                                                            data-bs-target="#editCardModal"
                                                            data-bs-toggle="modal"
                                                            type="button">
                                                        <i class="ti ti-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                    
                             
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Projects Table end -->

                        <!-- delete-modal start  -->
                        <div aria-hidden="true" class="modal fade" id="apiDeleteModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img alt="" class="img-fluid" src="../assets/images/icons/delete-icon.png">
                                        <div class="text-center">
                                            <h4 class="text-danger f-w-600">Are You Sure?</h4>
                                            <p class="text-secondary f-s-16">You won't be able to revert this!</p>
                                        </div>

                                        <div class="text-center mt-3">
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                Close
                                            </button>
                                            <button class="btn btn-primary" id="confirmDelete" type="button">Yes,Delet
                                                it
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- delete-modal-end-->

                        <!-- edit modal-1 start -->
                        <div aria-hidden="true" aria-labelledby="editCardModalLabel" class="modal fade"
                             id="editCardModal"
                             tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h1 class="modal-title fs-5 text-white" id="editCardModalLabel">Edit Advance
                                            Table</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="ticket-form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Name</label>
                                                        <input class="form-control" placeholder="Performance Issue"
                                                               type="text">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Leader</label>
                                                        <input class="form-control" placeholder="Michelle House"
                                                               type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Client</label>
                                                        <input class="form-control" placeholder="james" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Status</label>
                                                        <select class="form-select">
                                                            <option selected="">Select Status</option>
                                                            <option value="open">open</option>
                                                            <option value="inprogress">inprogress</option>
                                                            <option value="closed">closed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Start Date</label>
                                                        <input class="form-control" name="trip-start" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">End Date</label>
                                                        <input class="form-control" type="date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-light-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-light-primary" data-bs-dismiss="modal" type="button">Save
                                            changes
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- edit model end  -->
                    </div>                
                </main>
            </div>
        </div>


        
    <!-- tap on top -->
    <div class="go-top">
        <span class="progress-value">
          <i class="ti ti-chevron-up"></i>
        </span>
      </div>
  
      <!-- Footer Section starts-->
      <footer>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-9 col-12">
                      <p class="footer-text f-w-600 mb-0">Copyright © 2025 TornadoStrike. All rights reserved 💖</p>
                  </div>
      
              </div>
          </div>
      </footer>
      <!-- Footer Section ends-->

    </div>
    

<!--customizer-->
<div id="customizer"></div>

<!-- latest jquery-->
<script src="../assets/js/jquery-3.6.3.min.js"></script>

<!-- datatable js-->
<script src="../assets/vendor/datatable/jquery.dataTables.min.js"></script>

<!-- Simple bar js-->
<script src="../assets/vendor/simplebar/simplebar.js"></script>

<!-- phosphor js -->
<script src="../assets/vendor/phosphor/phosphor.js"></script>

<!-- Bootstrap js-->
<script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>

<!-- script js -->
<script src="../assets/js/advance_table.js"></script>

<!-- App js-->
<script src="../assets/js/script.js"></script>

<!-- Customizer js-->
<script src="../assets/js/customizer.js"></script>

</body>
</html>